.auth-link {
  padding-left: 5px;
  font-size: 14px;
  color: rgb(var(--v-theme-clr3));
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: rgb(var(--v-theme-clr0));
    transform: scale(1.05);
  }
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.hover-opacity {
  transition: opacity 0.15s ease;

  &:hover {
    opacity: 0.75;
  }
}